@{
    ViewData["Title"] = "O projekcie";
}
<h2>@ViewData["Title"]</h2>

<p>Celem projektu jest wykorzystanie <a href="http://nlp.pwr.wroc.pl/wordnet/msr/">funkcji podobieństwa znaczeniowego jednostek leksykalnych</a> (dalej zwanej Funkcją Podobieństwa) do wyszukiwania najkrótszej ścieżki w grafie dla dwóch wybranych słów. Niezbędne jest opracowanie schematu pobierania danych z Funkcji Podobieństwa oraz algorytmu wyszukiwania najkrótszej ścieżki w grafie. Konieczne jest również stworzenie przyjaznego interfejsu graficznego. Całość zostanie zaprezentowana w postaci strony internetowej.</p>