@{
    ViewData["Title"] = "Kontakt";
}
<h2>@ViewData["Title"]</h2>

<address>
	Natalia Popielarz<br />
	Kierunek Informatyka<br />
	Wydział Elektryczny<br />
	Politechnika Poznańska
</address>

<address>
    <strong>Kontakt:</strong> <a href="mailto:natalia.popielarz@student.put.poznan.pl">natalia.popielarz@student.put.poznan.pl</a><br />
</address>
